src/
!src/main.js
**/*.ts
**/tsconfig.json
.all-contributorsrc
.eslintignore
.gitattributes
images/
!images/icon.png
.eslintrc.js
.prettierrc.json
.vscode/
renovate.json
.circleci/config.yml
settings.json
!out/main.js
node_modules
test-resources
